body {
 background-color: #F0F0F0;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size:0.8em;
 color: #4F5155;
 margin:0 0;
 padding:0 0;
}

a {
 color: #444;
 background-color: transparent;
 font-weight: bold;
}
h1,h2{
font-weight:bold;
margin-bottom:1em;
}
h1{
font-size:1.5em;
}
h2{
font-size:1.2em;
}
p{
margin:0.5em 0;
}
strong{
font-weight:bold;
}
pre{
padding:1em;
background:#eee;
border:1px dashed #ccc;
font-family:monospace;
}
label{
font-weight:bold;
}

.mainMenu{
 width: 100%;
 overflow: hidden;
 background-color: #24336A;
 height: 77px;
 margin:0 0 10px 0;
}

.mainMenu ul{
 margin: 0;
 padding: 0;
 padding-left: 50px; /*offset of tabs relative to browser left edge*/
 padding-right: 30px; /*offset of tabs relative to browser left edge*/
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-weight:100;
 list-style-type: none;
}

.mainMenu li{
 display: inline;
 margin: 0;
}

.mainMenu li a.mainMenuLeft{
 border-right: 2px solid #04396C; /*right divider between tabs*/
 float: left;
}

.mainMenu li a.mainMenuRight{
 border-left: 2px solid #04396C; /*left divider between tabs*/
 float: right;
}

.mainMenu li a{
 display: block;
 text-decoration: none;
 margin: 50px 0 0 0;
 padding:10px 10px 7px 10px;  /*padding inside each tab*/
 color: #CDD5F4;
 background: #2F428C; /*background of tabs (default state)*/
}

.mainMenu li a:visited {
 color: #CDD5F4;
}

.mainMenu li a:hover, .mainMenu li.selected a{
 background: #F0F0F0; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
 color: #000;
}

.subMenu{
 width: 100%;
 overflow: hidden;
 background-color: #F0F0F0;
 height: 26px;
}

.subMenu ul{
 margin: 0;
 padding: 0;
 padding-left: 40px; /*offset of tabs relative to browser left edge*/
 padding-right: 40px; /*offset of tabs relative to browser left edge*/
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-weight:100;
 list-style-type: none;
}

.subMenu li{
 display: inline;
 margin: 0;
}

.subMenu li a.subMenuLeft{
 border-right: 2px solid #F0F0F0; /*right divider between tabs*/
 float: left;
}

.subMenu li a.subMenuRight{
 border-left: 2px solid #F0F0F0; /*left divider between tabs*/
 float: right;
}

.subMenu li a{
 display: block;
 text-decoration: none;
 margin: 0 0 0 0;
 padding:10px 10px 7px 10px;  /*padding inside each tab*/
 color: #2F428C;
 background: #E4EAFA; /*background of tabs (default state)*/
}

.subMenu li a:visited {
 color: #2F428C;
}

.subMenu li a:hover, .subMenu li.selected a{
 background: #CDD5F4; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
 color: #000;
}

#bodyContainer {
 margin:0 30px;
 padding:1em;
 background-color:#fff;
 min-width:800px;
}

#errorMessage{
color:red;
text-align:center;
padding:1em;
background:#eee;
}

.containerHeader {
 background-color: #CDD5F4;
}

.containerHeader h1 {
 color: #000;
 background-color: transparent;
 font-size: .9em;
 font-weight: bold;
 padding: 10px;
}

.containerContent {
 color: #444;
 font-size: .75em;
 padding:0 15px 15px 15px;
}

.containerContent p{
 color: #444;
 padding: 5px 0;
}

#footer{
 margin:5px 30px;
 background-color:transparent;
 padding:3px 10px;
 font-size: .7em;
}

p.error {
 font-size:1.3em;
 color:red; 
}

p.success {
 font-size:1.3em;
 color:blue; 
}
table{
width:100%;
border-collapse:collapse;
border-right:1px solid #ddd;
}
table tr.alt{
background:#eee;
}
table th{
padding:0.25em;
background:#eee;
font-weight:bold;
border-top:1px solid #f3f3f3;
border-left:1px solid #f3f3f3;
border-right:1px solid #ddd;
border-bottom:1px solid #ddd;
}

table td{
padding:0.25em;
border-left:1px solid #f3f3f3;
border-bottom:1px solid #ddd;
}

#dashboardLeft{
float:left;
width:200px;
padding:10px;
margin-bottom:2em;
border:1px solid #ccc;
}
#dashboardLeft h2{
margin-top:2em;

}
#dashboardActions{
}
#searchTerms{
}
#dashboardStats{
float:left;
width:850px;
padding:10px;
margin-left:20px;
border:1px solid #ccc;
}
#dashboardStats img{
float:left;
}
#trafficBar{
}

.affiliateCodes{
padding:1em;
padding-bottom:2em;
}
.affiliateCode{
}
.codeName{
color:green;
font-weight:bold;
}

.affiliateCodes input.text{
width:50px;
}
