#debug {
	float: right;
}

#tabnav a:link, #tabnav a:visited {
	float: right;
}

.TemplateBox, .TemplateBoxOn, .TemplateBoxOver {
	float: right;
}

/*********** Menu RTL Styles ************/

#headerMenu li {
	float: right;
}

#headerMenu li li {
	clear: right;
}

.textlinks {
	left: 0;
	right: auto;
}