#headerMenu {
	font-weight: bold;
	margin: 0;
	padding: 0;
	height: 31px
}

#headerMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}

#headerMenu li {
	line-height: 0;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}

#headerMenu a {
	display: block;
}


#headerMenu ul ul {
	border: solid 1px #BCBCBC;
	display: none;
	z-index: 250;
	position: absolute;
	clear: both;
}


#headerMenu li.over ul {
	display: block;
}

#headerMenu li li {
	clear: left;
}

#headerMenu li.dropselected ul {
	border: 1px solid #05386d;
}

#headerMenu li.over a{
	z-index: 400;
}

#headerMenu li li a
{
	background-color: #FFFFFF;
	color: black;
	margin: 0;
	font-weight:normal;
	border:0;
	display: block;
	padding: 5px 8px 5px 27px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 5px 7px;
}

#headerMenu li li strong, #headerMenu li li span {
	display: block;
	line-height: 1.2;
}

#headerMenu li li span {
	padding: 5px 0px 5px 0px;
}

#headerMenu li li strong {
	text-decoration: underline;
	font-size: 12px;
}

#headerMenu li.dropselected li a {
	background-color: #05386D;
	color: white;
}

#headerMenu li.dropselected li:last-child a, #headerMenu li.dropselected li.last a {
	border-bottom: 0;
}

#headerMenu li li a:hover
{
	background-color: #f5f5f5;
	color: #005fa3;
}

#headerMenu li.dropselected li a:hover {
	background-color: #DFEDFC;
	color: black;
}

#headerMenu li li a.menu_mnuOrders
{
	width: 220px;
}

#headerMenu li li a.menu_mnuProducts
{
	width: 220px;
}

#headerMenu li li a.menu_mnuSupport
{
	width: 190px;
}

#headerMenu li li a.menu_mnuExtras
{
	width: 140px;
}

#headerMenu li li a.menu_mnuUsers
{
	width: 85px;
}

#headerMenu li li a.menu_mnuOrders
{
	width: 220px;
}

#headerMenu li li a.menu_mnuCustomers
{
	width: 220px;
}

#headerMenu li li a.menu_mnuContent
{
	width: 220px;
}

#headerMenu li li a.menu_mnuSettings
{
	width: 120px;
}

#headerMenu li li a.menu_mnuPromotions
{
	width: 220px;
}

#headerMenu li li a.menu_mnuStatistics
{
	width: 220px;
}